ion-buttons{
    outline: none;
    .svg-icon{
        &.home{
            margin-left: 15px;
            svg{
                width: 35px!important;
                height: 35px!important;
                g{
                    path{
                        &:nth-child(1){
                    fill: var(--color-light);
                        }
                        &:nth-child(2),&:nth-child(3), &:nth-child(4){
                            fill: var(--color-primary);

                        }
                    }
                }
            }     
        }
    }
}

.letter-tracing-section{
    .letter-tracing-list{
        padding: 16px 16px 0 16px;
        margin-top: 10px;
        background-color: var(--color-transparent);
        .letter-tracing-item{
            --padding-start:15px;
            --padding-end:0;
            --border-width:0;
            --min-height: 90px;
            background-color: var(--color-light);
            // border:1px solid var(--color-primary-light);
            box-shadow: 0px 0px 10px -4px var(--color-primary-light);
            border-radius: 10px;
            margin: 0 5px 15px;
            .letter-tracing-label{
                padding: 8px 0;
                h2{
                    color: var(--color-primary);
                    font-size: 20px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    margin-bottom: 5px;
                    span{
                        font-size: 20px;
                        font-weight: 400;       
                    }
                }
            }
            .letter-tracing-right-icon{
                color: var(--color-dark);
            }
        }
    }
}