<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"  [routerLink]="['/home']" routerDirection="back">
      <div class="svg-icon home" aria-label="svg icon" [inlineSVG]="'/assets/home.svg'"></div>
    </ion-buttons>
    <ion-title>
      Letter Tracing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="letter-tracing-section">
  <ion-list lines="full" class="letter-tracing-list">
    <ion-item class="letter-tracing-item" *ngFor="let letterTracing of letterTracingData" (click)="navigateTo(letterTracing.id)">
      <ion-avatar slot="start" class="letter-tracing-image">
        <img [src]="letterTracing.img">
      </ion-avatar>
      <ion-label class="letter-tracing-label">
        <h2>{{letterTracing.title}}</h2>
        <h3>{{letterTracing.type}}</h3>
      </ion-label>
      <ion-icon class="letter-tracing-right-icon" name="play" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
