<ion-header  mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"  [routerLink]="['/home']" routerDirection="back">
      <div class="svg-icon home" aria-label="svg icon" [inlineSVG]="'/assets/home.svg'"></div>
    </ion-buttons>
    <ion-title>
      Memory Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="memory-game-section">
  <ion-list lines="full" class="memory-game-list">
    <ion-item class="memory-game-item" *ngFor="let memoryGame of memoryGameList" (click)="navigateTo(memoryGame.id)">
      <ion-label class="memory-game-label">
        <h2>{{memoryGame.title}} - <span>{{memoryGame.type}}</span></h2>
        <star-rating [numOfStars]="3" [starType]="'svg'" [rating]="memoryGame.totalStars" staticColor="ok" [showHalfStars]="true"  [readOnly]="true"></star-rating>
      </ion-label>
      <ion-icon class="memory-game-right-icon" name="play" slot="end"></ion-icon>
    </ion-item>
    </ion-list>
</ion-content>
