<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"  [routerLink]="['/home']" routerDirection="back">
      <div class="svg-icon home" aria-label="svg icon" [inlineSVG]="'/assets/home.svg'"></div>
    </ion-buttons>
    <ion-title>
      Alphabets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="letter-tracing-start-section">
  <div id="container" class="container">

    <div id="chars" class="gamedata">ABCDEFGHIJ</div>

    <canvas></canvas>
    <div id="intro" class="cover">
      <p>Paint over the letter you see on the screen. Can you write it without going outside of it?</p>
      <button class="actionbutton">➜</button>
    </div>

    <!-- <button id="sound" class="navbutton">♬</button>
    <button id="infos" class="navbutton">i</button> -->

    <div id="win" class="cover check">
      <p>Good!</p> 
      <button class="actionbutton">➜</button>
    </div>

    <div id="error" class="cover">
      <p>You painted outside the letter!</p> 
      <button class="actionbutton">➜</button>
    </div>

    <button class="actionbutton undo" id="reload">Skip</button>
  </div>
</ion-content>
