ion-buttons{
    outline: none;
    .svg-icon{
        &.home{
            margin-left: 15px;
            svg{
                width: 35px!important;
                height: 35px!important;
                g{
                    path{
                        &:nth-child(1){
                    fill: var(--color-light);
                        }
                        &:nth-child(2),&:nth-child(3), &:nth-child(4){
                            fill: var(--color-primary);

                        }
                    }
                }
            }     
        }
    }
}

.letter-tracing-start-section{
    #container {
        width: 100%;
        height: calc(100vh - 80px);
        margin: 0 auto;
        position: relative;
        overflow: hidden;

      canvas {
        display: block;
        width: 100%;
        height: calc(100% - 80px);
      }
      .gamedata {
        display: none;
      }
      

      .cover {
        position: absolute;
        top: 20px;
        left: 10px;
        right: 10px;
        bottom: 20px;
        z-index: 2;
        border-radius: 10px;
        background: rgba(255,255,255,0.9);
        transition: transform 0.5s;
        -webkit-transform: translate(-120%,0);
        transform: translate(-120%,0);
        p {
            text-align: center;
            z-index: 2;
            padding: 10px;
            font-size: 6vw;
          }
      } 
    }
      .win #win {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      .error #error {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      .intro #intro {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      .actionbutton {
        position: absolute;
        bottom: 20px;
        display: block;
        right: 20px;
        font-size: 20px;
        border: none;
        width: 100px;
        height: 40px;
        text-align: center;
        background: var(--color-primary-light);
        color: var(--color-light);
        border-radius: 5px;
        transition: 0.5s;
        outline: none;
        text-transform: capitalize;
        letter-spacing: 1px;
      }
      .actionbutton.undo {
        background: var(--color-primary);
        color: var(--color-light);
        left: -120px;
        margin: 0;

      }
      .play .undo {
        left: 20px;
      }
      .check p::after {
        content: '✔';
        font-size: 20vw;
        position: absolute;
        top: 10vh;
        z-index: 1;
        left: 40%;
        color: var(--color-primary-light);
        color: rgba(0,200,0,0.4);
      }
      
    //   .toppanel {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     font-size: 30px;
    //     margin: 0;
    //     padding: 5px 10px;
    //     background: #000;
    //     background: linear-gradient(to top, #000, #333);
    //     color: var(--color-light);
    //     font-weight: normal;
    //   }
    //   .infopanel h1 {
    //     font-size: 5vw;
    //     font-weight: normal;
    //     padding: 0 10px;
    //   }
    //   .infopanel p {
    //     font-size: 3vw;
    //     text-align: left;
    //     padding: 0 10px;
    //   }  

}

// @media all and (max-width: 320px) {
//     .letter-tracing-start-section{
//             .infopanel h1 {
//             font-size: 8vw;
//             font-weight: normal;
//             padding: 0 10px;
//             }
//             .infopanel p {
//             font-size: 5vw;
//             text-align: left;
//             padding: 0 10px;
//             }  
//         }
//   }