.main-tab{
    ion-tab-bar{
        height: 70px;
        --border: unset;
        box-shadow: 1px 1px 10px -3px var(--color-primary-light);
        ion-tab-button{
            --color-focused: var(--color-primary-light);
            --color-selected: var(--color-primary-light);
            ion-icon{
                font-size: 35px;
                color: var(--color-primary-light);

            }
            .svg-icon{
                &.letter-tracing{
                    svg{
                        width: 100%!important;
                        height: 35px!important;
                        g{
                            path{
                                &:nth-child(1), &:nth-child(2){
                                    fill: var(--color-primary);
                                }
                                &:nth-child(3){
                                    fill: var(--color-primary-light);
                                }
                            }
                        }
                    }
                }
                &.home{
                    svg{
                        width: 100%!important;
                        height: 35px!important;
                        g{
                            path{
                                &:nth-child(1){
                            fill: var(--color-primary-light);
                                }
                                &:nth-child(2),&:nth-child(3), &:nth-child(4){
                                    fill: var(--color-primary);

                                }
                            }
                        }
                    }     
                }
                &.quiz{
                    svg{
                        width: 100%!important;
                        height: 35px!important;
                        g{
                            path{
                                &:nth-child(1), &:nth-child(2){
                            fill: var(--color-primary);
                                }
                                &:nth-child(3){
                                    fill: var(--color-primary-light);

                                }
                            }
                            g{
                                path{
                                    &:nth-child(1),&:nth-child(2){
                                fill: var(--color-primary-light);
                                    }
                                }
                            }
                        }
                    }
                }
                &.flashcard{
                    svg{
                        width: 100%!important;
                        height: 50px!important;
                        g{
                            fill: var(--color-primary-light);
                            path{
                                &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                                    fill:var(--color-primary);
                                }
                            }
                        }
                        }
                }
                &.memorygame{
                    svg{
                        width: 100%!important;
                        height: 35px!important;

                        g{
                  
                            path{
                                fill: var(--color-primary-light);
                                &:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8){
                                    fill: var(--color-light);
                                }
                                &:nth-child(9),&:nth-child(10){
                                    fill: var(--color-primary);

                                }
                            }

                        }
                        }
                }
            }

            &.tab-selected{
                background-color: var(--color-transparent);
                animation: 0.4s tabBackgroundSpread ease-in forwards;

            }
        }
        &.hiddenTab{
            display: none;
        }
    }
}

@keyframes tabBackgroundSpread {
    100%{
        background-color: var(--color-primary-light-3);
    }
}