<ion-tabs class="main-tab">

  <ion-tab-bar slot="bottom"  [ngClass]="{'hiddenTab': hideTab}">
    <ion-tab-button tab="letter-tracing">
      <div class="svg-icon letter-tracing" aria-label="svg icon" [inlineSVG]="'/assets/letter-tracing.svg'"></div>
    </ion-tab-button>

    <ion-tab-button tab="quiz">
      <div class="svg-icon quiz" aria-label="svg icon" [inlineSVG]="'/assets/quiz.svg'"></div>
    </ion-tab-button>

    <ion-tab-button tab="flashcard">
      <div class="svg-icon flashcard" aria-label="svg icon" [inlineSVG]="'/assets/flashcard.svg'"></div>
    </ion-tab-button>

    <ion-tab-button tab="memory-game">
      <div class="svg-icon memorygame" aria-label="svg icon" [inlineSVG]="'/assets/memorygame.svg'"></div>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
