ion-buttons{
    outline: none;
    .svg-icon{
        &.home{
            margin-left: 15px;
            svg{
                width: 35px!important;
                height: 35px!important;
                g{
                    path{
                        &:nth-child(1){
                    fill: var(--color-light);
                        }
                        &:nth-child(2),&:nth-child(3), &:nth-child(4){
                            fill: var(--color-primary);

                        }
                    }
                }
            }     
        }
    }
}

.memory-game-start-section{
    .deck {
            width: 100%;
            height: calc(100vh - 140px);

            padding: 1rem;
            border-radius: 4px;
            // box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            margin: 0 0 0;

        
        .card {
            height: 16vh ;
            width: calc(25% - 20px);
            margin: 0.2rem 0.2rem;
            background: var(--color-dark);
            font-size: 0;
            color: var(--color-light);
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
        }
        
        .card.open {
            transform: rotateY(0);
            background: #02b3e4;
            cursor: default;
            animation-name: flipInY;
            -webkit-backface-visibility: visible !important;
            backface-visibility: visible !important;
            animation-duration: .75s;
        }
        
        .card.show {
            font-size: 33px;
        }
        
        .card.match {
            cursor: default;
            background: var(--color-primary-light);
            font-size: 33px;
            animation-name: rubberBand;
            -webkit-backface-visibility: visible !important;
            backface-visibility: visible !important;
            animation-duration: .75s;
        }
        
        .card.unmatched {
            animation-name: pulse;
            -webkit-backface-visibility: visible !important;
            backface-visibility: visible !important;
            animation-duration: .75s;
            background: #e2043b;
        }
        
        .card.disabled {
            pointer-events: none;
            opacity: 0.9;
        }
    }
    
    #starRating{
         li {
            display: inline-block;
         }
    }
    
    #play-again {
        background-color: #141214;
        padding: 0.7rem 1rem;
        font-size: 1.1rem;
        display: block;
        margin: 0 auto;
        width: 50%;
        font-family: 'Gloria Hallelujah', cursive;
        color: #ffffff;
        border-radius: 5px;
    }

}

.score-header{
    ion-buttons{
        ion-button{
            --color: var(--color-dark);
        .moves{
            color: var(--color-dark);
            padding-right: 3px;
            font-weight: 700;
            pointer-events: none;
            font-size: 16px;
        }
        .restart{
            color: var(--color-dark);
            margin-right: 10px;
            font-size: 20px;
        }
    }
    }

    ion-title{
        .timer{
            font-size: 20px;
        }
    }
}

.memory-game-confirm-message-alert{
    .alert-wrapper{
        border-radius: 10px;
        box-shadow: 0px 0px 70px -20px var(--color-primary-light);
        .alert-title{
            text-align: center;
            font-weight: 700;
            color: var(--color-dark);
            font-size: 20px;
        }
        .alert-sub-title{
            color: var(--color-dark);
            font-size: 16px;
            text-align: center;
        }
        .alert-message{
            text-align: center;
            padding-bottom: 16px;
            p{
                margin-bottom: 0;
                font-size: 14px;
                span{

                    &#finalMove{
                        font-weight: 700;
                    }
                    &#totalTime{
                        font-weight: 700;
                    }
                    &#starRating{
                        vertical-align: top;
                        ion-icon{
                            font-size: 16px;
                            color: var(--color-primary-light);
                        }
                    }
                }
            }
        }
        .alert-button-group{
            align-items: center;
            flex-direction: column;
            .alert-button{
                border-radius: 5px;
                color: var(--color-light);
                text-transform: capitalize;
                letter-spacing: 1px;
                height: 35px;
                font-weight: 300;
                padding: 5px 10px;
                width: 170px;
                text-align: center;
                margin: 0 0 15px 0;
                font-size: 14px;
                &.custom-playagain-button{
                    background: var(--color-primary-light);
                }
                &.custom-nextlevel-button{
                    background: var(--color-primary);
                }
                &.custom-shareresults-button{
                    border: 1px solid var(--color-primary-light);
                    color:  var(--color-primary);
                    background: var(--color-primary-light-3);
                }
                span{
                    justify-content: center;
                }
            }
        }
    }
}

.memory-game-start-footer-section{
    ion-toolbar{
        --background: var(--color-primary-light-2);
        text-align: center;
        --min-height: 60px;
        padding-right: 16px;
        ion-buttons{
                ion-button{
                    &.custom-skip-button{
                    --background: var(--color-primary);
                    --background-hover: var(--color-primary);
                    --background-activated: var(--color-primary);
                    --border-radius: 5px;
                    color: var(--color-light);
                    text-transform: capitalize;
                    letter-spacing: 1px;
                    height: 40px;
                    font-weight: 300;
                    width: 100px;
                    font-size: 18px;
                    }
            }
        }
    }
}

    /* animations */
    @keyframes flipInY {
        from {
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            animation-timing-function: ease-in;
            opacity: 0;
        }
    
        40% {
            transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            animation-timing-function: ease-in;
        }
    
        60% {
            transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            opacity: 1;
        }
    
        80% {
            transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        }
    
        to {
            transform: perspective(400px);
        }
    }
    
    @keyframes rubberBand {
        from {
            transform: scale3d(1, 1, 1);
        }
    
        30% {
            transform: scale3d(1.25, 0.75, 1);
        }
    
        40% {
            transform: scale3d(0.75, 1.25, 1);
        }
    
        50% {
            transform: scale3d(1.15, 0.85, 1);
        }
    
        65% {
            transform: scale3d(.95, 1.05, 1);
        }
    
        75% {
            transform: scale3d(1.05, .95, 1);
        }
    
        to {
            transform: scale3d(1, 1, 1);
        }
    }
    
    @keyframes pulse {
        from {
            transform: scale3d(1, 1, 1);
        }
    
        50% {
            transform: scale3d(1.2, 1.2, 1.2);
        }
    
        to {
            transform: scale3d(1, 1, 1);
        }
    }
    