<ion-header  mode="ios" class="ion-no-border score-header">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-button>
        <span class="moves">{{counter}}</span> Move(s)
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="timer">{{timer}}
      </div>
    </ion-title>
    <ion-buttons slot="end" >
      <ion-button>
        <div class="restart" (click)=startGame()>
          <ion-icon name="reload-outline"></ion-icon>
        </div>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="memory-game-start-section">
  <ul class="deck" id="card-deck">
    <li class="card" type="diamond">
        <ion-icon name="layers-outline"></ion-icon>
    </li>
    <li class="card" type="plane">
      <ion-icon name="paper-plane-outline"></ion-icon>
    </li>
    <li class="card" type="anchor">
      <ion-icon name="boat-outline"></ion-icon>
    </li>
    <li class="card" type="bolt" >
      <ion-icon name="settings-outline"></ion-icon>
    </li>
    <li class="card" type="cube">
      <ion-icon name="cube-outline"></ion-icon>
    </li>
    <li class="card" type="anchor">
      <ion-icon name="boat-outline"></ion-icon>
    </li>
    <li class="card" type="leaf">
        <ion-icon name="leaf-outline"></ion-icon>
    </li>
    <li class="card" type="bicycle">
        <ion-icon name="bicycle-outline"></ion-icon>
    </li>
    <li class="card" type="diamond">
        <ion-icon name="layers-outline"></ion-icon>
    </li>
    <li class="card" type="bomb">
      <ion-icon name="color-wand-outline"></ion-icon>
    </li>
    <li class="card" type="leaf">
        <ion-icon name="leaf-outline"></ion-icon>
    </li>
    <li class="card" type="bomb">
      <ion-icon name="color-wand-outline"></ion-icon>
    </li>
    <li class="card" type="bolt">
      <ion-icon name="settings-outline"></ion-icon>
    </li>
    <li class="card" type="bicycle">
        <ion-icon name="bicycle-outline"></ion-icon>
    </li>
    <li class="card" type="plane">
      <ion-icon name="paper-plane-outline"></ion-icon>
    </li>
    <li class="card" type="cube">
      <ion-icon name="cube-outline"></ion-icon>
    </li>
</ul>

<!-- showing stars in alert -->
<ul class="stars" style="display: none">
  <li><ion-icon name="star"></ion-icon></li>
  <li><ion-icon name="star"></ion-icon></li>
  <li><ion-icon name="star"></ion-icon></li>
</ul>
</ion-content>
<ion-footer class="memory-game-start-footer-section ion-no-border" mode="md">
  <ion-toolbar>
      <ion-buttons slot="end" mode="md">
        <ion-button  fill="solid"  class="custom-skip-button" [routerLink]="['/tabs/memory-game']" routerDirection="back">Skip</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>
