<ion-header  mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"  [routerLink]="['/home']" routerDirection="back">
      <div class="svg-icon home" aria-label="svg icon" [inlineSVG]="'/assets/home.svg'"></div>
    </ion-buttons>
    <ion-title>
      {{flashcardMain.flashcardTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="flash-card-start-section">
  <div class="slides-container">
    <ion-slides #slides pager="true" [options]="slideOpts">
      <ion-slide  *ngFor="let flashcard of flashcardMain.flashcardData; let i = index;" >
        <ion-card mode="ios" #slideCard id="slideCard{{i}}"  [ngClass]="{'is-flipped': flashcardid == i}" >
          <ion-card-content class="flash-card-content">
          <div class="card-item card-front" (click)="cardReload(getSliderId, 'open')">
            <ion-icon name="volume-medium"></ion-icon>
            {{flashcard.question}}
          </div>
          <div class="card-item card-back" (click)="cardReload(getSliderId, 'close')">
            <ion-icon name="volume-medium"></ion-icon>
            {{flashcard.answer}}
          </div>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>

<ion-footer class="flash-card-start-footer-section ion-no-border" mode="md">
  <ion-toolbar>
    <div class="swiper-pagination-header">
    </div>
      <ion-buttons slot="start" mode="md">
        <ion-button class="swiper-button-prev1" (click)="prevSlide()"><ion-icon slot="icon-only" name="play-skip-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center">
        <ion-button fill="clear" class="swiper-card-reload" (click)="cardReload(getSliderId, 'open')" *ngIf="flashcardid == null"><ion-icon slot="icon-only" name="reload"></ion-icon></ion-button>
        <ion-button fill="clear" class="swiper-card-reload" (click)="cardReload(getSliderId, 'close')" *ngIf="flashcardid != null"><ion-icon slot="icon-only" name="reload"></ion-icon></ion-button>
      </ion-title>
      <ion-buttons slot="end" mode="md">
        <ion-button class="swiper-button-next1" (click)="nextSlide()" *ngIf="showButtonOne == true"><ion-icon slot="icon-only" name="play-skip-forward"></ion-icon></ion-button>
        <ion-button class="swiper-button-next1" (click)="presentAlertConfirm()"  *ngIf="showButtonTwo == true"><ion-icon slot="icon-only" name="play-skip-forward"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>
