ion-buttons{
    outline: none;
    .svg-icon{
        &.home{
            margin-left: 15px;
            svg{
                width: 35px!important;
                height: 35px!important;
                g{
                    path{
                        &:nth-child(1){
                    fill: var(--color-light);
                        }
                        &:nth-child(2),&:nth-child(3), &:nth-child(4){
                            fill: var(--color-primary);

                        }
                    }
                }
            }     
        }
    }
}

.flash-card-start-section{
    .slides-container{
        position: relative;
        padding: 16px 8px 10px 8px;
        ion-slides{
            margin-top: 5px;
            ion-slide {
                width: 100%!important;
                height: 100%;
                display: block;
                padding: 0 10px;
                perspective: 600px;
                ion-card{
                    padding: 16px;
                    height: 380px;
                    transform-style: preserve-3d;
                    transform-origin: center right;
                    transition: transform 1s;
                    .flash-card-content{
                        position: relative;
                        padding: 60px 0px;
                        height: 100%;
                        .card-item{
                            color: var(--color-dark);
                            position: absolute;  
                            line-height: 350px;
                            top:0;
                            left:0;
                            right:0;
                            bottom: 0;
                            backface-visibility: hidden;
                            &.card-front{
                                font-size: 200px;
                                background-color: var(--color-light);
                            }
                            &.card-back{
                                font-size: 40px;
                                transform: rotateY(180deg);
                                background-color: var(--color-light);
                            }
                        }
                        ion-icon{
                            position: absolute;
                            top: 0;
                            right: 0;
                            font-size: 20px;
                        }
                    }
                    &.is-flipped {
                        transform: translateX(-100%) rotateY(-180deg);
                      }
                      
                }

            }
        }


    }
}

.flashcard-confirm-message-alert{
    .alert-wrapper{
        border-radius: 10px;
        box-shadow: 0px 0px 70px -20px var(--color-primary-light);

        .alert-title{
            text-align: center;
            font-weight: 700;
            color: var(--color-dark);
        }
        .alert-message{
            text-align: center;
            padding-bottom: 10px;
        }
        .alert-button-group{
            align-items: center;
            flex-direction: column;
            .alert-button{
                border-radius: 5px;
                color: var(--color-light);
                text-transform: capitalize;
                letter-spacing: 1px;
                height: 35px;
                font-weight: 300;
                padding: 5px 10px;
                width: 170px;
                text-align: center;
                margin: 0 0 15px 0;
                font-size: 14px;
                &.custom-playagain-button{
                    background: var(--color-primary-light);
                }
                &.custom-nextlevel-button{
                    background: var(--color-primary);
                }
                span{
                    justify-content: center;
                }
            }
        }
    }
}

.flash-card-start-footer-section{
    ion-toolbar{
        --background: var(--color-primary-light-2);
        text-align: center;
        --min-height: 80px;
        ion-buttons{
                ion-button{
                    &.button-has-icon-only.button-clear{
                    width: 70px;
                    height: 70px;
                    margin-top: 5px;
                    ion-icon{
                        font-size: 40px;
                    }
                    &.swiper-button-prev1{
                        margin-left: 10px;
                    }
                    &.swiper-button-next1{
                        margin-right: 10px;
                    }
                }
            }
        }
        ion-title {
            ion-button{
                &.button-has-icon-only.button-clear{
                    width: 70px;
                    height: 70px;
                    margin: 5px 0 0;
                    --ripple-color: var(--color-primary-light);
                    ion-icon{
                    color: var(--color-primary);
                    font-size: 30px;
                    }
                }
            }
        }
        .swiper-pagination-header{
            font-size: 16px;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 5px;
            color: var(--color-dark);
            --progress-bar-background: var(--color-primary-light-3);
            --progress-bar-background-active: var(--color-primary-light);
        }
    }

}
