ion-buttons{
    outline: none;
    .svg-icon{
        &.home{
            margin-left: 15px;
            svg{
                width: 35px!important;
                height: 35px!important;
                g{
                    path{
                        &:nth-child(1){
                    fill: var(--color-light);
                        }
                        &:nth-child(2),&:nth-child(3), &:nth-child(4){
                            fill: var(--color-primary);

                        }
                    }
                }
            }     
        }
    }
}

.flash-card-section{
    --padding-top:16px;
    .flash-list{
        padding: 0 16px;
        margin-top: 10px;
        background-color: var(--color-transparent);
        .flash-container{
            display: flex;
            flex-direction: row;
            width: 100%;
            text-align: center;
            flex-wrap: wrap;
            .flash-box{
                width: 33.33%;
                img{
                    width: 95px;
                    height: 95px;
                    object-fit: cover;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: var(--color-light);
                    // border:1px solid var(--color-primary-light);
                    box-shadow: 0px 0px 10px -4px var(--color-primary-light);
                }
                h4{
                    font-size: 12px;
                    color: var(--color-primary);
                    margin-top: 10px;
                    letter-spacing: 1px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
            }
        }
    }
}