<ion-header  mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"  [routerLink]="['/home']" routerDirection="back">
      <div class="svg-icon home" aria-label="svg icon" [inlineSVG]="'/assets/home.svg'"></div>
    </ion-buttons>
    <ion-title>
      Flashcard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="flash-card-section">
  <ion-list class="flash-list">
    <div class="flash-container">
      <div class="flash-box" *ngFor="let flashcardList of flashcardLists" (click)="navigateTo(flashcardList.id)">
        <img [src]="flashcardList.img" />
        <h4>{{flashcardList.title}}</h4>
      </div>
    </div>
</ion-list>
</ion-content>
