<ion-header  mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"  [routerLink]="['/home']" routerDirection="back">
      <div class="svg-icon home" aria-label="svg icon" [inlineSVG]="'/assets/home.svg'"></div>
    </ion-buttons>
    <ion-title>
      Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="quiz-section">
  <ion-list lines="full" class="quiz-list">
    <ion-item class="quiz-item" *ngFor="let quizList of quizLists" (click)="navigateTo(quizList.id)">
      <ion-label class="quiz-label">
        <h2>{{quizList.title}} - <span>{{quizList.type}}</span></h2>
        <div class="quiz-progress">
        <ion-progress-bar value="0.5"></ion-progress-bar>
        <p>{{quizList.answered}}<span>/{{quizList.totalQuestions}}</span></p>
        </div>
      </ion-label>
      <ion-icon class="quiz-right-icon" name="play" slot="end"></ion-icon>
    </ion-item>
    </ion-list>
</ion-content>
