/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~css-star-rating/css/star-rating.min.css";

:root{
    --color-primary-dark: #ee6802;
    --color-primary: #ff9b21;
    --color-primary-light: #fecf50;
    --color-primary-light-2: #fff8dd;
    --color-primary-light-3: #fff3c4;
    --color-dark: #342b38;
    --color-dark-2: #87818a;
    --color-light: #fff;
    --color-light-2: #f5f5f5;
    --color-light-3: #f3f3f3;
    --color-light-4: #cccccc;
    --color-transparent: transparent;
}

ion-header{

    ion-toolbar{
    --background: var(--color-primary-light);
    --min-height: 60px;
ion-title{
    font-weight: 700;
    font-size: 24px;
    color: var(--color-dark);
  }
}
}
ion-content{
    --background: var(--color-primary-light-2);
}

//star rating
.rating.color-ok .star-container .star {
    svg {
      fill: var(--color-primary-light)!important;
    }
    i {
      color: var(--color-primary-light)!important;
    }
  }
  ion-button{
    &.custom-primary-button{
    --background: var(--color-primary);
    --background-hover: var(--color-primary);
    --background-activated: var(--color-primary);
    --border-radius: 5px;
    color: var(--color-light);
    text-transform: capitalize;
    letter-spacing: 1px;
    height: 50px;
    font-weight: 300;
    }
    &.custom-secondary-button{
      --background: var(--color-primary-light);
      --background-hover: var(--color-primary-light);
      --background-activated: var(--color-primary-light);
      --border-radius: 5px;
      color: var(--color-light);
      text-transform: capitalize;
      letter-spacing: 1px;
      height: 50px;
      font-weight: 300;
      }
}