<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="home-section">
  <ion-list class="flash-list">
    <ion-list-header class="flash-header">
      <div class="svg-icon flashcard" aria-label="svg icon" [inlineSVG]="'./assets/flashcard.svg'"></div>
      <span class="header-left">Flash Card</span>
      <span class="header-right" [routerLink]="['/tabs/flashcard']">More</span>
    </ion-list-header>
    <div class="flash-container">
      <div class="flash-box" [routerLink]="['/tabs/flashcard/1']">
        <img src="assets/flashcards/animals.png" />
        <h4>Animals</h4>
      </div>
      <div class="flash-box" [routerLink]="['/tabs/flashcard/1']">
        <img src="assets/flashcards/vegetables.png" />
        <h4>Vegetables</h4>
      </div>
      <div class="flash-box" [routerLink]="['/tabs/flashcard/1']">
        <img src="assets/flashcards/colors.png" />
        <h4>Colors</h4>
      </div>
    </div>
    
</ion-list>
<ion-list lines="full" class="memory-game-list">
  <ion-list-header class="memory-game-header">
    <div class="svg-icon memorygame" aria-label="svg icon" [inlineSVG]="'/assets/memorygame.svg'"></div>
    <span class="header-left">Memory Game</span>
    <span class="header-right"  [routerLink]="['/tabs/memory-game']">More</span>
  </ion-list-header>
  <ion-item class="memory-game-item" [routerLink]="['/tabs/memory-game/1']">
    <ion-label class="memory-game-label">
      <h2>Level 1 - <span>2x2</span></h2>
      <star-rating [numOfStars]="3" [starType]="'svg'" [rating]="2" staticColor="ok" [showHalfStars]="true"  [readOnly]="true"></star-rating>
    </ion-label>
    <ion-icon class="memory-game-right-icon" name="play" slot="end"></ion-icon>
  </ion-item>
  <ion-item class="memory-game-item" [routerLink]="['/tabs/memory-game/1']">
    <ion-label class="memory-game-label">
      <h2>Level 2 - <span>3x3</span></h2>
      <star-rating [numOfStars]="3" [starType]="'svg'" [rating]="2" staticColor="ok" [showHalfStars]="true"  [readOnly]="true"></star-rating>
    </ion-label>
    <ion-icon class="memory-game-right-icon" name="play" slot="end"></ion-icon>
  </ion-item>
  <ion-item class="memory-game-item" [routerLink]="['/tabs/memory-game/1']">
    <ion-label class="memory-game-label">
      <h2>Level 3 - <span>3x3</span></h2>
      <star-rating [numOfStars]="3" [starType]="'svg'" [rating]="2" staticColor="ok" [showHalfStars]="true"  [readOnly]="true"></star-rating>
    </ion-label>
    <ion-icon class="memory-game-right-icon" name="play" slot="end"></ion-icon>
  </ion-item>
  </ion-list>
  
  <ion-list lines="full" class="quiz-list">
    <ion-list-header class="quiz-header">
      <div class="svg-icon quiz" aria-label="svg icon" [inlineSVG]="'/assets/quiz.svg'"></div>
      <span class="header-left">Quiz</span>
      <span class="header-right"  [routerLink]="['/tabs/quiz']">More</span>
    </ion-list-header>
    <ion-item class="quiz-item" [routerLink]="['/tabs/quiz/1']">
      <ion-label class="quiz-label">
        <h2>Alphabets - <span>(A-J)</span></h2>
        <div class="quiz-progress">
          <ion-progress-bar value="0.5"></ion-progress-bar>
          <p>5<span>/10</span></p>
          </div>
      </ion-label>
      <ion-icon class="quiz-right-icon" name="play" slot="end"></ion-icon>
    </ion-item>
    <ion-item class="quiz-item" [routerLink]="['/tabs/quiz/1']">
      <ion-label class="quiz-label">
        <h2>Alphabets - <span>(K-T)</span></h2>
        <div class="quiz-progress">
          <ion-progress-bar value="0.5"></ion-progress-bar>
          <p>5<span>/10</span></p>
          </div>
      </ion-label>
      <ion-icon class="quiz-right-icon" name="play" slot="end"></ion-icon>
    </ion-item>
    <ion-item class="quiz-item" [routerLink]="['/tabs/quiz/1']">
      <ion-label class="quiz-label">
        <h2>Alphabets - <span>(U-Z)</span></h2>
        <div class="quiz-progress">
          <ion-progress-bar value="0.5"></ion-progress-bar>
          <p>3<span>/6</span></p>
          </div>
      </ion-label>
      <ion-icon class="quiz-right-icon" name="play" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-list lines="full" class="letter-tracing-list">
    <ion-list-header class="letter-tracing-header">
      <div class="svg-icon letter-tracing" aria-label="svg icon" [inlineSVG]="'/assets/letter-tracing.svg'"></div>
      <span class="header-left">Letter Tracing</span>
      <span class="header-right"  [routerLink]="['/tabs/letter-tracing']">More</span>
    </ion-list-header>
    <ion-item class="letter-tracing-item" [routerLink]="['/tabs/letter-tracing/1']">
      <ion-avatar slot="start" class="letter-tracing-image">
        <img src="https://via.placeholder.com/150">
      </ion-avatar>
      <ion-label class="letter-tracing-label">
        <h2>Alphabets</h2>
        <h3>A - J</h3>
      </ion-label>
      <ion-icon class="letter-tracing-right-icon" name="play" slot="end"></ion-icon>
    </ion-item>
    <ion-item class="letter-tracing-item" [routerLink]="['/tabs/letter-tracing/1']">
      <ion-avatar slot="start" class="letter-tracing-image">
        <img src="https://via.placeholder.com/150">
      </ion-avatar>
      <ion-label class="letter-tracing-label">
        <h2>Alphabets</h2>
        <h3>K - T</h3>
      </ion-label>
      <ion-icon class="letter-tracing-right-icon" name="play" slot="end"></ion-icon>
    </ion-item>
    <ion-item class="letter-tracing-item" [routerLink]="['/tabs/letter-tracing/1']">
      <ion-avatar slot="start" class="letter-tracing-image">
        <img src="https://via.placeholder.com/150">
      </ion-avatar>
      <ion-label class="letter-tracing-label">
        <h2>Alphabets</h2>
        <h3>U - Z</h3>
      </ion-label>
      <ion-icon class="letter-tracing-right-icon" name="play" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
