.home-section{
    .flash-list{
        padding: 0 16px;
        margin-top: 10px;
        background-color: var(--color-transparent);
        .flash-header{
            font-size: 18px;
            color: var(--color-dark);
            padding-left: 5px;
            font-weight: 700;
            margin-top: 10px;
            align-items: center;
            .svg-icon{
                margin-right: 5px;
                &.flashcard{
                    svg{
                        width: 30px!important;
                        height: 30px!important;
                        g{
                            fill: var(--color-primary-light);
                            path{
                                &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                                    fill:var(--color-primary);
                                }
                            }
                        }
                        }
                }
            }
            .header-left{
                margin-top: -5px;
            }
            .header-right{
                font-size: 16px;
                position: absolute;
                right: 5px;
                font-weight: 400;
                outline: none;
                cursor: pointer;
            }
        }
        .flash-container{
            display: flex;
            flex-direction: row;
            width: 100%;
            text-align: center;
            .flash-box{
                width: 33.33%;
                img{
                    width: 95px;
                    height: 95px;
                    object-fit: cover;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: var(--color-light);
                    // border:1px solid var(--color-primary-light);
                    box-shadow: 0px 0px 10px -4px var(--color-primary-light);
                }
                h4{
                    font-size: 12px;
                    color: var(--color-primary);
                    margin-top: 10px;
                    letter-spacing: 1px;
                    font-weight: 700;
                }
            }
        }
    }

    .memory-game-list{
        padding: 0 16px;
        margin-top: 10px;
        background-color: var(--color-transparent);
        .memory-game-header{
            font-size: 18px;
            color: var(--color-dark);
            padding-left: 5px;
            font-weight: 700;
            margin-top: 10px;
            align-items: center;
            .svg-icon{
                margin-right: 8px;
                &.memorygame{
                    svg{
                        width: 20px!important;
                        height: 20px!important;

                        g{
                  
                            path{
                                fill: var(--color-primary-light);
                                &:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8){
                                    fill: var(--color-light);
                                }
                                &:nth-child(9),&:nth-child(10){
                                    fill: var(--color-primary);

                                }
                            }

                        }
                    }
                }
            }
            .header-left{
                margin-top: -5px;
            }
            .header-right{
                font-size: 16px;
                position: absolute;
                right: 5px;
                font-weight: 400;
                outline: none;
                cursor: pointer;
            }
        }
        .memory-game-item{
            --padding-start:15px;
            --padding-end:0;
            --border-width:0;
            height: 90px;
            background-color: var(--color-light);
            // border:1px solid var(--color-primary-light);
            box-shadow: 0px 0px 10px -4px var(--color-primary-light);
            border-radius: 10px;
            margin: 0 5px 15px;
            .memory-game-label{
                padding: 8px 0;
                h2{
                    color: var(--color-primary);
                    font-size: 20px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    margin-bottom: 5px;
                    span{
                        font-size: 20px;
                        font-weight: 400;       
                    }
                }
                p{
                    color: var(--color-dark-2);
                }
                .rating{
                    justify-content: left;
                    margin-top: 5px;
                    outline: none;
                    &.medium{
                        .star-container{
                            margin: 0;
                            .star{
                                width: 18px;
                                height: 18px;
                                margin-right: 5px;
                            }
                        }
                    }
                }
            }
            .memory-game-right-icon{
                color: var(--color-dark);
            }
        }
    }

    .quiz-list{
        padding: 0 16px;
        margin-top: 10px;
        background-color: var(--color-transparent);
        .quiz-header{
            font-size: 18px;
            color: var(--color-dark);
            padding-left: 5px;
            font-weight: 700;
            margin-top: 10px;
            align-items: center;
            .svg-icon{
                margin-right: 8px;
                &.quiz{
                    svg{
                        width: 20px!important;
                        height: 20px!important;
                        g{
                            path{
                                &:nth-child(1), &:nth-child(2){
                            fill: var(--color-primary);
                                }
                                &:nth-child(3){
                                    fill: var(--color-primary-light);

                                }
                            }
                            g{
                                path{
                                    &:nth-child(1),&:nth-child(2){
                                fill: var(--color-primary-light);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .header-left{
                margin-top: -5px;
            }
            .header-right{
                font-size: 16px;
                position: absolute;
                right: 5px;
                font-weight: 400;
                outline: none;
                cursor: pointer;
            }
        }
        .quiz-item{
            --padding-start:15px;
            --padding-end:0;
            --border-width:0;
            min-height: 90px;
            background-color: var(--color-light);
            // border:1px solid var(--color-primary-light);
            box-shadow: 0px 0px 10px -4px var(--color-primary-light);
            border-radius: 10px;
            margin: 0 5px 15px;
            .quiz-label{
                padding: 8px 0;
                h2{
                    color: var(--color-primary);
                    font-size: 20px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    margin-bottom: 5px;
                    span{
                        font-size: 20px;
                        font-weight: 400;       
                    }
                }
                .quiz-progress{
                    margin-top: 5px;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    ion-progress-bar{
                        height: 10px;
                        --background: var(--color-primary-light-3);
                        --progress-background: var(--color-primary-light);
                        margin-right: 10px;
                    }
                    p{
                        color: var(--color-dark-2);
                        margin-right: 10px;
                        letter-spacing: 1px;
                        span{
                            color: var(--color-primary-light);
                            font-weight: 700;
                            padding-left: 1px;
                        }
                    }
                }
            }
            .quiz-right-icon{
                color: var(--color-dark);
            }
        }
    }

    .letter-tracing-list{
        padding: 0 16px;
        margin-top: 10px;
        background-color: var(--color-transparent);
        .letter-tracing-header{
            font-size: 18px;
            color: var(--color-dark);
            padding-left: 5px;
            font-weight: 700;
            margin-top: 10px;
            align-items: center;
            .svg-icon{
                margin-right: 8px;
                &.letter-tracing{
                    svg{
                        width: 20px!important;
                        height: 20px!important;
                        g{
                            path{
                                &:nth-child(1), &:nth-child(2){
                                    fill: var(--color-primary);
                                }
                                &:nth-child(3){
                                    fill: var(--color-primary-light);
                                }
                            }
                        }
                    }
                }
            }
            .header-left{
                margin-top: -5px;
            }
            .header-right{
                font-size: 16px;
                position: absolute;
                right: 5px;
                font-weight: 400;
                outline: none;
                cursor: pointer;
            }
        }
        .letter-tracing-item{
            --padding-start:15px;
            --padding-end:0;
            --border-width:0;
            --min-height: 90px;
            background-color: var(--color-light);
            // border:1px solid var(--color-primary-light);
            box-shadow: 0px 0px 10px -4px var(--color-primary-light);
            border-radius: 10px;
            margin: 0 5px 15px;
            .letter-tracing-label{
                padding: 8px 0;
                h2{
                    color: var(--color-primary);
                    font-size: 20px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    margin-bottom: 5px;
                    span{
                        font-size: 20px;
                        font-weight: 400;       
                    }
                }
            }
            .letter-tracing-right-icon{
                color: var(--color-dark);
            }
        }
    }
}