ion-buttons{
    outline: none;
    .svg-icon{
        &.home{
            margin-left: 15px;
            svg{
                width: 35px!important;
                height: 35px!important;
                g{
                    path{
                        &:nth-child(1){
                    fill: var(--color-light);
                        }
                        &:nth-child(2),&:nth-child(3), &:nth-child(4){
                            fill: var(--color-primary);

                        }
                    }
                }
            }     
        }
    }
}

.quiz-start-section{
    .slides-container{
        position: relative;
        padding: 16px 8px 10px 8px;
        ion-slides{
            margin-top: 5px;
            ion-slide {
                width: 100%!important;
                height: 100%;
                display: block;
                padding: 0 10px;
                .quiz-start-header{
                    padding: 16px;
                    width: 100%;
                    height: 140px;
                    border-radius: 10px;
                    background-color: var(--color-primary-light-3);
                    margin: 0 0 20px;
                    box-shadow: 0px 0px 10px -4px var(--color-primary-light-2);
                    position: relative;
                    ion-label{
                        h2{
                            text-align: center;
                            font-size: 80px;
                            line-height: 25px;
                            font-weight: 700;
                            color: var(--color-dark);
                        }
                    }
                }

                .quiz-start-item{
                    --padding-start:0px;
                    --padding-end:0;
                    --border-width:0;
                    --min-height: 90px;
                    --ripple-color: var(--color-primary);
                    --background: var(--color-light);
                    // border:1px solid var(--color-primary-light);
                    box-shadow: 0px 0px 10px -4px var(--color-primary-light);
                    border-radius: 10px;
                    margin: 0 5px 15px;
                    text-align: center;
                    .quiz-start-label{
                        padding: 5px 0;
                        color: var(--color-primary);
                        font-size: 24px;
                        font-weight: 700;
                        letter-spacing: 1px;
                        margin-bottom: 5px;
                        position: absolute;
                        top:16px;
                        left: 0;
                        right: 0;
                    }
                    ion-radio{
                        margin: 0;
                        width: 30px;
                        height: 30px;
                        padding-top: 0;
                        padding-left: 6px;
                        padding-right: 5px;                    
                        border-radius: 50%;
                        border: 2px solid var(--color-primary);
                        --color-checked: var(--color-light);
                        &.radio-checked{
                            background-color: var(--color-primary);
                        }
                    }
                }

            }
        }
        .swiper-pagination-header{
            font-size: 16px;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            text-align: right;
            color: var(--color-dark);
        }

    }
}

.quiz-confirm-message-alert{
    .alert-wrapper{
        border-radius: 10px;
        box-shadow: 0px 0px 70px -20px var(--color-primary-light);

        .alert-title{
            text-align: center;
            font-weight: 700;
            color: var(--color-dark);
        }
        .alert-message{
            text-align: center;
            padding-bottom: 10px;
            .quiz-progress{
                p{
                    margin: 0 0 10px;
                    .progress-label{
                        margin-right: 10px;
                        color: var(--color-dark);
                    }
                    .quiz-answered{
                        font-weight: 700;
                        color: var(--color-primary);
                        padding-right: 2px;
                    }
                    .quiz-total{
                        font-weight: 700;
                    color: var(--color-dark);

                    }
                }
                ion-progress-bar{
                    height: 10px;
                    --background: var(--color-primary-light-3);
                    --progress-background: var(--color-primary-light);
                }
            }
        }
        .alert-button-group{
            align-items: center;
            .alert-button{
                border-radius: 5px;
                color: var(--color-light);
                text-transform: capitalize;
                letter-spacing: 1px;
                height: 35px;
                font-weight: 300;
                padding: 5px 10px;
                width: 170px;
                text-align: center;
                margin: 0 0 15px 0;
                font-size: 14px;
                &.custom-playagain-button{
                    background: var(--color-primary-light);
                }
                &.custom-nextlevel-button{
                    background: var(--color-primary);
                }
                &.custom-shareresults-button{
                    border: 1px solid var(--color-primary-light);
                    color:  var(--color-primary);
                    background: var(--color-primary-light-3);
                }
                span{
                    justify-content: center;
                }
            }
        }
    }
}
.quiz-start-footer-section{
    ion-toolbar{
        --background: var(--color-primary-light-2);
        text-align: center;
        --min-height: 80px;
        ion-button{
            width: 220px;
            margin: 0;
            font-size: 24px;
            vertical-align: baseline;
        }
    }

}