<ion-header  mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start"  [routerLink]="['/home']" routerDirection="back">
      <div class="svg-icon home" aria-label="svg icon" [inlineSVG]="'/assets/home.svg'"></div>
    </ion-buttons>
    <ion-title>
      {{quizMain.quizTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="quiz-start-section">
  <div class="slides-container">
    <!-- <ion-toolbar>
      <ion-buttons slot="start" mode="md">
        <ion-button fill="outline" shape="round" class="swiper-button-prev1" (click)="prevSlide()">Prev</ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center swiper-pagination-header">
      </ion-title>
      <ion-buttons slot="end" mode="md">
        <ion-button fill="outline" shape="round" class="swiper-button-next1" (click)="nextSlide()">Skip</ion-button>
      </ion-buttons>
    </ion-toolbar> -->

    <ion-slides #slides pager="true" [options]="slideOpts">
      <ion-slide  *ngFor="let quiz of quizMain.quizData" >
        <ion-radio-group value="biff" mode="md">
          <ion-list-header class="quiz-start-header ion-text-left ion-no-padding">
            <ion-label>
              <h2>
              {{quiz.question}}
              </h2>
            </ion-label>
            <div class="swiper-pagination-header"></div>
          </ion-list-header>
          <ion-item class="quiz-start-item ion-no-padding" lines="none" *ngFor="let answers of quiz.answers" >
            <ion-label class="quiz-start-label">{{answers.answer}}</ion-label>
            <ion-radio slot="end" [value]="answers.answer" mode="ios"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
<ion-footer class="quiz-start-footer-section ion-no-border" mode="md">

  <ion-toolbar>
      <ion-button  class="custom-secondary-button" (click)="confirmSlide()" *ngIf="hideNavigationConfirmButton">Next</ion-button>
      <ion-button  class="custom-secondary-button" (click)="nextSlide()" *ngIf="hideNavigationNextButton">Next</ion-button>

  </ion-toolbar>
</ion-footer>
